{% extends "Base_Generic.html" %}
{% load static %}

{% block content %}
    <div class="content content-center" >
        <div class="container-fluid" style="padding-left: 20%">
            <h3>Register Custormer</h3>
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label for="{{ form.name.name }}">{{ form.name.label }}</label>
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label for="{{ form.parser.name }}">{{ form.parser.label }}</label>
                            {{ form.parser }}
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <button class="btn btn-primary btn-block text-uppercase" type="submit"><i
                                    class="fas fa-save mr-2"></i>Save
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
